*.egg
*.eggs
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.Python
.cache
.coverage
.idea
.installed.cfg
.tox
.tox/
__pycache__
__pycache__/
build
build/
coverage.xml
develop-eggs/
dist
dist/
doc/build/
docs/_build/
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
saliere.egg-info/
sdist/
target/
var/
